.movie-card {
    &:hover &__figure {
        &__image{
            filter: brightness(1.2);
            transform: scale(1.03);
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
    &__figure{
        overflow: hidden;
        &__image{
            transition: .3s;
        }
    }
}

.content{
    h1{
        small{
            font-size: 80%;
            font-weight: lighter;
        }
    }
}